export NODE_BINARY=
MONGO_URI=mongodb://hamzamalikse207_db_user:hamza2003@atlas-sql-6a6c72edb0da6a50da5e00ec-trkb9n.a.query.mongodb.net/myVirtualDatabase?ssl=true&authSource=admin
JWT_SECRET=novachat_jwt_secret_key_2026
